In [2]:
#ANSWER  1:

import pandas as pd

# Create the series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#ANSWER  2:
# Create a list with 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series_from_list = pd.Series(data_list)

# Print the series
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
#ANSWER  3:

# Create the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Chicago', 'San Francisco']
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age           City
0    Alice   24       New York
1      Bob   27        Chicago
2  Charlie   22  San Francisco

In [5]:
#ANSWER 4 :

# DataFrame: A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, or a dictionary of Series objects.

# Series: A Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a DataFrame.


# Creating a Series
series = pd.Series([1, 2, 3, 4, 5])
print("Series:")
print(series)

# Creating a DataFrame
data = {
    'Column1': [1, 2, 3, 4],
    'Column2': ['A', 'B', 'C', 'D']
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D

In [6]:
#ANSWER 5:


# Some common functions to manipulate data in a Pandas DataFrame include:

# df.head(): To display the first few rows of the DataFrame.
# df.tail(): To display the last few rows of the DataFrame.
# df.describe(): To generate descriptive statistics.
# df.drop(): To drop specified labels from rows or columns.
# df.groupby(): To group DataFrame using a mapper or by a Series of columns.
# df.merge(): To merge DataFrame or named Series objects.


data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Age': [24, 27, 22, 24, 30],
    'Score': [85, 88, 78, 92, 95]
}
df = pd.DataFrame(data)

# Group by 'Name' and calculate the mean 'Score'
grouped_df = df.groupby('Name')['Score'].mean()
print(grouped_df)

Name
Alice      88.5
Bob        91.5
Charlie    78.0
Name: Score, dtype: float64

#ANSWER 6:

Both Series and DataFrame are mutable in nature, meaning you can change their contents after they are created. Panel is deprecated in pandas and should not be used.

In [7]:
#ANSWER 7:

# Creating multiple Series
series1 = pd.Series([1, 2, 3], name='Column1')
series2 = pd.Series(['A', 'B', 'C'], name='Column2')

# Creating a DataFrame using the Series
df = pd.concat([series1, series2], axis=1)

# Print the DataFrame
print(df)

   Column1 Column2
0        1       A
1        2       B
2        3       C